.app.dark {
  --bg-color: rgb(6, 6, 170);
  --inverted-bg-color: #e8e8ea;

  --primary-color: rgb(7, 88, 7);
  --secondary-color: rgb(28, 230, 28);

  --inverted-primary-color: #3765f1;
  --inverted-secondary-color: #0449e0;
}
