.app_dark_theme {
  --bg-color: rgb(6 6 170);
  --inverted-bg-color: #e8e8ea;
  --primary-color: rgb(9 255 9);
  --secondary-color: rgb(6 83 6);
  --inverted-primary-color: #3765f1;
  --inverted-secondary-color: #0449e0;
}
