.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: rgb(6 6 170);
  --primary-color: #3765f1;
  --secondary-color: #0449e0;
  --inverted-primary-color: rgb(7 88 7);
  --inverted-secondary-color: rgb(28 230 28);
}
